name: Testing Black, Pylint, Pytest
on: push

jobs:
  black:
    runs-on: ubuntu-latest
    steps:      
      - uses: actions/checkout@v3
      - run: |
          pip install black
          black --check .
        
  pylint:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3
        - run: |
            pip install pylint
            pylint pylint ./pkg/setup.py
        
  pytest:
    runs-on: ubuntu-latest
    steps:      
      - uses: actions/checkout@v3
      - run: |
          pip install matplotlib requests IPython pytest bibtexparser
          pytest .
